.border-none{
	border: none !important;
}
.border-left{
	border-left: 1px solid $gray-100;
}
.border-right{
	border-right: 1px solid $gray-100;
}
.border-top{
	border-top: 1px solid $gray-100;
}
.border-bottom{
	border-bottom: 1px solid $gray-100;
}