.primary-bg{
	background-color: $blue-100;
}
.pending-bg{
	background-color: $gray-200;
}
.accent{

}
.default{

}
.warn-bg{
	background-color: $warn;
}
.community{
	background-color: $green-100;
}
.text-grey{
	color: $gray-400 !important;
}
.text-blue{
	color: $blue-100 !important;
}
.text-blue-400{
	color: $blue-400 !important;
} 
.text-warn{
	color: $warn !important;
}

