.w-300{
	font-weight: 300 !important;
}
.w-400{
	font-weight: 400 !important;
}
.w-600{
	font-weight: 700 !important;
}
.w-900{
	font-weight: 900 !important;
}
.display-2{
	font-size: 30px !important;
}
.display-3{
	font-size: 24px !important;
}
.display-4{
	font-size: 20px !important;
}
.display-5{
	font-size: 18px !important;
}
.display-6{
	font-size: 16px !important;
}
.font-14{
	font-size: 14px !important;
}
.font-12{
	font-size: 12px !important;
}
.font-11{
	font-size: 11px !important;
}
.font-10{
	font-size: 10px !important;
}