//
// Color system
//

// stylelint-disable
$white:    #fff !default;

$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$gray-100 : #eeeeee !default;
$gray-200 : #acacac !default;
$gray-300 : #efefef !default;
$gray-400 : #5c5c5c !default;

$blue-100 : #8070ea !default;
$blue-400 : #334d5c !default;



$warn : #eb5858 !default;

$green-100 : #45b19d !default;