<div class="layout-column">
	<div class="layout-row align-items-center mb-15">
		<h3 class="display-3 mr-35 text-blue-400">PointBank</h3> 
			<mat-nav-list class="layout-row align-items-center navbar-nav">
			  <a mat-list-item href="#" class="active">Earnings</a>
			  <a mat-list-item href="#">Daily Streak</a>   
			</mat-nav-list>
	</div>
	<div class="pointclub-tab py-3 px-3">  
	   <div class="row">
	   		<div class="col-4">
	   			<div class="text-center">
	   				<h4 class="display-4 text-blue-400">Points captured</h4>
	   				<p class="w-300 font-14 mb-15">toward 25,000pt goal</p>
	   				<div class="mb-3">
			   			<img src="assets/images/progress-img.jpg" alt="progres">
			   		</div>
		   			<h4 class="display-4 text-blue-400 mb-15">Goal Selected</h4>
		   			<div class="mb-15">
		   				<img src="assets/images/paypal-icon.png" alt="paypal-icon">
		   			</div>
		   			<p class="w-300 font-14 mb-15">$25 PayPal Credit</p>
		   		</div>
	   		</div>
	   		<div class="col-8">
	   			<div class="pl-3 border-left">
		   			<table class="table w-100 font-10 border-bottom mb-15">
		   			 		<thead>
		   			 			<tr>
			   			 			<th class="text-left w-900">Activity</th>
			   			 			<th class="text-left w-900">Pending</th>
			   			 			<th class="text-left w-900">Appoved</th>
			   			 			<th class="text-left w-900">Date</th>
			   			 			<th class="text-left w-900">Notes</th>
			   			 		</tr>
		   			 		</thead>
		   			 		<tbody> 
		   			 			<tr>
			   			 			<td>Survey #45712</td>
			   			 			<td></td>
			   			 			<td>25pts</td>
			   			 			<td>05/03/18 @ 11:20am</td>
			   			 			<td>Fail bonus</td>
			   			 		</tr>
			   			 		<tr>
			   			 			<td>Survey #45712</td>
			   			 			<td>2,450pts</td>
			   			 			<td></td>
			   			 			<td>05/01/18 @ 11:15am</td>
			   			 			<td>Survey complete —point reward added to pending</td>
			   			 		</tr>
			   			 		<tr class="text-blue active-tr">
			   			 			<td>Campaign #10057</td>
			   			 			<td>-5pts</td>
			   			 			<td>-5pts</td>
			   			 			<td>05/01/18 @ 11:20am</td>
			   			 			<td>Video survey completed, all points for Sports Channel approved</td>
			   			 		</tr>
			   			 		<tr>
			   			 			<td>Campaign #10057</td>
			   			 			<td>2pt</td>
			   			 			<td></td>
			   			 			<td>05/01/18 @ 11:20am</td>
			   			 			<td></td>
			   			 		</tr> 
			   			 		<tr>
			   			 			<td>Campaign #10057</td>
			   			 			<td>2pt</td>
			   			 			<td></td>
			   			 			<td>05/01/18 @ 11:20am</td>
			   			 			<td></td>
			   			 		</tr>
			   			 		<tr>
			   			 			<td>Campaign #10057</td>
			   			 			<td>1pt</td>
			   			 			<td></td>
			   			 			<td>05/01/18 @ 11:20am</td>
			   			 			<td></td>
			   			 		</tr>
			   			 		<tr class="text-blue active-tr">
			   			 			<td>Campaign #10057</td>
			   			 			<td>-9pts</td>
			   			 			<td>9pt</td>
			   			 			<td>05/01/18 @ 11:20am</td>
			   			 			<td>Video survey completed, all points for Auto Channel approved</td>
			   			 		</tr>
			   			 		<tr>
			   			 			<td>Campaign #10057</td>
			   			 			<td>2pt </td>
			   			 			<td></td>
			   			 			<td>05/01/18 @ 11:20am</td>
			   			 			<td></td>
			   			 		</tr>
			   			 		<tr>
			   			 			<td>Campaign #10057</td>
			   			 			<td>2pt </td>
			   			 			<td></td>
			   			 			<td>05/01/18 @ 11:20am</td>
			   			 			<td></td>
			   			 		</tr>
			   			 		<tr class="text-blue active-tr">
			   			 			<td>Survey #45712 </td>
			   			 			<td>-3,500pts  </td>
			   			 			<td>3,500pts   </td>
			   			 			<td>05/01/18 @ 11:20am</td>
			   			 			<td>Survey results validated — points moved to approved</td>
			   			 		</tr>
			   			 		<tr class="text-warn active-tr">
			   			 			<td>Survey #45712  </td>
			   			 			<td>-2,000pts</td>
			   			 			<td>-2,000pts</td>
			   			 			<td>05/01/18 @ 11:20am</td>
			   			 			<td>Survey results invalidated — points removed from pending </td>
			   			 		</tr>
		   			 		</tbody>
		   			</table>
		   			<nav class="page-navigation layout-row"> 
	   			 		<ul class="pagination-nav layout-row align-items-center"> 
						    <li class="page-item"><a class="page-link active" mat-icon-button>1</a></li>
						    <li class="page-item"><a class="page-link" mat-icon-button>2</a></li>
						    <li class="page-item"><a class="page-link" mat-icon-button>3</a></li>
						    <li class="page-item"><a class="page-link" mat-icon-button>4</a></li>
						    <li class="page-item"><a class="page-link" mat-icon-button>5</a></li> 
						    <li class="page-item"><span class="elle-item">...</span></li>
						    <li class="page-item"><a class="page-link" mat-icon-button>275</a></li> 
						  </ul>  
						  <div class="ml-auto">
						  	<ul class="approve-sec layout-row align-items-center">
						  		<li class="layout-row pr-30 align-items-center">
						  				<div class="mr-8 apr-box primary-bg"></div> Approved
						  		</li>
						  		<li class="layout-row pr-30 align-items-center">
						  				<div class="mr-8 apr-box pending-bg"></div> Pending
						  		</li>
						  		<li class="layout-row pr-30 align-items-center">
						  				<div class="mr-8 apr-box warn-bg"></div> Invalidated
						  		</li>
						  	</ul>
						  </div>
		   			</nav>
		   		</div>
	   		</div>
	   </div>
	 </div>
</div>
 

